@import '~assets/styles/variables'

.header
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: 100%
  pointer-events: none
  z-index: 800
  transition: color $transition-color, text-stroke $transition-color
  will-change: color
  nav
    width: 100%
    height: 100%
    padding: 5vw
  .header-Desktop
    position: relative
    width: 100%
    height: 100%
    display: flex
    justify-content: flex-end
    li
      position: absolute
      cursor: pointer
      text-transform: uppercase
      line-height: 1
      pointer-events: auto
      color: currentcolor
    li:nth-child(1)
      top: 0
      left: 0
    li:nth-child(2)
      top: 0
      right: 0
      transform: rotate(90deg) translateY(-4em)
      transform-origin: 15% 100%
    li:nth-child(3)
      bottom: 0
      left: 0
      transform: rotate(90deg) translateY(4em)
      transform-origin: 85% 0%
    li:nth-child(4)
      bottom: 0
      right: 0
  .header-Single li
    position: absolute
    cursor: pointer
    text-transform: uppercase
    line-height: 1
    pointer-events: auto
    top: 0
    left: 0
    padding: var(--spacing-three)
    svg
      transform: rotate(180deg)
      height: 1em
  .nuxt-link-exact-active
    text-decoration: none
  &.yellow
    li
      color: rgba($color-yellow, 0)
      -webkit-text-stroke: 1px rgba($color-yellow, 1)
      &.nuxt-link-exact-active
        color: $color-yellow
        -webkit-text-stroke: 1px rgba($color-yellow, 0)
  &.blue
    li
      color: rgba($color-blue, 0)
      -webkit-text-stroke: 1px rgba($color-blue, 1)
      &.nuxt-link-exact-active
        color: $color-blue
        -webkit-text-stroke: 1px rgba($color-blue, 0)
      svg
        fill: $color-blue
  &.red
    li
      color: rgba($color-red, 0)
      -webkit-text-stroke: 1px rgba($color-red, 1)
      &.nuxt-link-exact-active
        color: $color-red
        -webkit-text-stroke: 1px rgba($color-red, 0)
      svg
        fill: $color-red
  &.white
    li
      color: rgba(white, 0)
      -webkit-text-stroke: 1px rgba(white, 1)
      &.nuxt-link-exact-active
        color: white
        -webkit-text-stroke: 1px rgba(white, 0)

.yellow, .view-Home
  color: $color-yellow
  .footerform
    input, .markdown p, button, h4
      color: black
.blue, .view-Brands, .view-BrandSingle
  color: $color-blue
.red, .view-Art, .view-ArtSingle
  color: $color-red
.black
  color: black
.grey
  color: grey
.white, .view-People
  color: white
  .footerform
    input, .markdown p, button, h4
      color: black

section
  position: relative
  max-width: 100%
  img
    max-width: 100%

.svg-container
  display: inline-block
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  padding: 4vw
  overflow: hidden
  font-family: 'DINBk', Helvetica, Arial, sans-serif
  font-size: 5vw
  line-height: 1
  color: currentColor
  font-style: normal
  &.red
    color: rgba($color-red, 1)
  &.blue
    color: rgba($color-blue, 1)
  &.yellow
    color: rgba($color-yellow, 1)
  &.white
    color: rgba($color-yellow, 1)
    // -webkit-text-stroke: 1px white
  svg
    height: 100%
    width: 100%
    overflow: visible

.graphic
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  padding-top: var(--spacing-three)
  padding-bottom: var(--spacing-three)
  padding-left: var(--side-spacing)
  padding-right: var(--side-spacing)
  z-index: -1
  &.left
    justify-content: flex-start
  &.center
    img
      width: 100%
  &.right
    justify-content: flex-end
  .svg
    height: 100%
    width: 100%
  img
    height: 100%

.landinggraphicitem
  position: absolute
  display: flex
  justify-content: flex-end
  top: 0
  left: 0
  width: 100%
  height: 100vh
  color: currentColor
  fill: currentColor
  padding-left: var(--side-spacing)
  padding-right: var(--side-spacing)
  padding-top: var(--spacing-three)
  padding-bottom: var(--spacing-three)
  z-index: +1
  &-Container
    display: flex
    align-items: center
    height: 100%
    width: 100%
    img
      height: 82vmin
      width: 82vmin
      max-width: 100%
      max-height: 100%
    &.left
      justify-content: flex-start
    &.center
      img
        width: 100%
    &.right
      justify-content: flex-end

.intersectionObserver
  .textBlok-FadeIn
    opacity: 0
    transition: opacity $transition-scroll-fade
  &.fade
    .textBlok-FadeIn
      opacity: 1

.landingitem
  width: 100vw
  height: 100vh
  z-index: -1
  img
    width: 100%
    height: 100%
    object-fit: cover
  h1
    position: absolute
    left: 0
    bottom: 0
    padding: var(--spacing-three)
    text-transform: uppercase
.view-Home .landingitem,
.view-Brands .landingitem,
.view-People .landingitem
  position: sticky
  top: 0

.textBlok
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  padding-top: var(--spacing-three)
  padding-bottom: var(--spacing-three)
  padding-left: var(--side-spacing)
  padding-right: var(--side-spacing)
  text-align: center
  &-FadeIn
    margin-top: 1em
  &.fullscreen
    min-height: 100vh

.imageGrid
  ul
    display: flex
    flex-wrap: wrap
    width: 100%
    z-index: -1
    li
      display: flex
      justify-content: center
      align-items: center
      flex-basis: 50%
      height: 50vw
      &.filter
        img
          mix-blend-mode: screen
          filter: greyscale(1)
          -webkit-filter: grayscale(1)
          opacity: 1
      img
        width: 100%
        height: 100%
        max-height: 100%
        object-fit: contain
        transition: filter $transition-scroll-filter
    @for $i from 1 through 100
      li:nth-child(#{$i})
        img
          width: random(50) + 50%
          height: random(50) + 50%
          object-position: random(100) + 0% random(100) + 0%

.listitem
  position: relative
  display: flex
  justify-content: center
  align-items: center
  text-align: left
  width: 100%
  padding-top: var(--spacing-three)
  padding-bottom: var(--spacing-three)
  padding-left: var(--side-spacing)
  padding-right: var(--side-spacing)
  h1
    font-size: 2em
    font-family: "DINRg", Helvetica, Arial, sans-serif
    text-transform: uppercase
    display: block
  p
    font-size: 3em
    display: inline
    text-transform: uppercase
  &.smallsize
    h1, p
      font-size: 1em
    h1
      display: inline
  &.fullscreen
    min-height: 100vh
  svg
    height: 90%
    color: currentColor
    stroke: currentColor

// PROJECT LIST
.projectList
  &-Single
    cursor: pointer

.projectList
  position: relative
  display: flex
  justify-content: center
  align-items: center
  text-align: left
  width: 100%
  min-height: 100vh
  padding-top: var(--spacing-three)
  padding-bottom: var(--spacing-three)
  padding-left: var(--side-spacing)
  padding-right: var(--side-spacing)
  h1
    font-size: 2em
    font-family: "DINRg", Helvetica, Arial, sans-serif
    text-transform: uppercase
    display: block
  p
    font-size: 3em
    display: inline
    text-transform: uppercase
    cursor: pointer
    color: rgba($color-blue, 0)
    -webkit-text-stroke: 1px rgba($color-blue, 1)
    transition: color $transition-color, text-stroke $transition-color
    &:hover
      color: $color-blue
      -webkit-text-stroke: 1px rgba($color-blue, 0)
  &-Container
    width: 100%
  &-Single
    display: inline-block
    word-break: break-word
    overflow-wrap: break-word
    hyphens: none
    &:last-child
      .dash
        display: none
    &_Image
      position: fixed
      display: none
      top: 0
      left: 0
      right: 0
      bottom: 0
      pointer-events: none
      z-index: -1
      img
        width: 100%
        height: 100%
        object-fit: cover
    p
      cursor: pointer
      display: inline-block
      overflow-wrap: break-word
      hyphens: none
    span
      display: inline
      word-break: break-word
      overflow-wrap: break-word
      hyphens: none
    &:hover .projectList-Single_Image
      display: block

.artList
  ul
    display: flex
    flex-wrap: wrap
    width: 100%
    z-index: -1
    li
      display: flex
      justify-content: center
      align-items: center
      flex-basis: 50%
      height: 50vw
      p
        position: absolute
        text-transform: uppercase
        color: rgba($color-red, 0)
        -webkit-text-stroke: 1px rgba($color-red, 1)
        cursor: pointer
      &.filter
        img
          mix-blend-mode: screen
          filter: greyscale(1)
          -webkit-filter: grayscale(1)
          opacity: 1
      img
        width: 100%
        height: 100%
        max-height: 100%
        object-fit: contain
        transition: filter $transition-scroll-filter
        cursor: pointer
    @for $i from 1 through 100
      li:nth-child(#{$i})
        img
          width: random(50) + 50%
          height: random(50) + 50%
          object-position: random(100) + 0% random(100) + 0%

.infoBlok
  &-Container
    width: 50%
    margin-left: auto
    padding-top: var(--spacing-three)
    padding-right: var(--spacing-three)
    .infoBlok
      margin-bottom: 1em
      &:first-child
        p
          font-size: 2em
          display: block
      h1, p, .markdown
        display: inline
        line-height: 1
        text-transform: uppercase
      h1
        font-family: "DINRg", Helvetica, Arial, sans-serif
        text-transform: uppercase
        font-size: 1em

.footerform
  position: relative
  z-index: 999
  display: flex
  flex-direction: column
  background: currentColor
  min-height: 100vh
  justify-content: space-around
  padding: var(--spacing-three)
  overflow: hidden
  &-Buttons
    display: flex
    justify-content: space-between
    width: 100%
    margin-top: var(--spacing-three)
    h4
      color: white
      cursor: pointer
  .markdown h1, h2, p
    max-width: 23em
  &.yellow, &.white
    .markdown p, input, button
      color: black
  form
    margin-top: var(--spacing-two)
    display: flex
    flex-direction: column
    align-items: flex-start
    input
      width: 100%
      border-bottom: 2px solid currentColor
      color: white
      text-transform: uppercase
      &::placeholder
        color: currentColor
        text-transform: uppercase
    button
      color: currentColor
      cursor: pointer
      color: white
      svg
        height: .7em
        fill: currentColor
        transition: transform $transition-icon
      &:hover
        svg
          transform: translateX(.1em)

.theMoreInfo
  position: absolute
  left: 0
  bottom: 0
  right: 0
  background: white
  padding: var(--spacing-three)
  transition: transform $transition-slide
  transform: translate3d(0, 100%, 0)
  &.active
    transform: translate3d(0, 0%, 0)
  p
    margin-bottom: 1em
  p, h1, h2, h3, h4
    color: black
  h1
    text-transform: uppercase