@import '~assets/styles/variables'

// OPTIONS
.yellow, .view-Home
  color: $color-yellow
  .footerform
    input, .markdown p, button, h4
      color: black
.blue, .view-Brands, .view-BrandSingle
  color: $color-blue
.red, .view-Art, .view-ArtSingle
  color: $color-red
  .footerform
    input, .markdown p, button, h4
      color: white
.black
  color: black
.grey
  color: grey
.white, .view-People
  color: white
  .footerform
    input, .markdown p, button, h4
      color: black

.fullscreen
  min-height: 100vh
.textLeft
  text-align: left
.textCenter
  text-align: center
  .markdown
    display: flex
    flex-direction: column
    align-items: center
.capslock
  text-transform: uppercase
.visible
  opacity: 1 !important

// GENERAL
section
  position: relative
  max-width: 100%
  img
    max-width: 100%

// BUILDING BLOCKS
.graphic
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  padding-top: var(--spacing-three)
  padding-bottom: var(--spacing-three)
  padding-left: var(--side-spacing)
  padding-right: var(--side-spacing)
  z-index: -1
  &.left
    justify-content: flex-start
  &.center
    img
      width: 100%
  &.right
    justify-content: flex-end
  .svg
    height: 100%
    width: 100%
  img
    height: 100%

.landinggraphicitem
  position: absolute
  display: flex
  justify-content: flex-end
  top: 0
  left: 0
  width: 100%
  height: 100vh
  padding-left: var(--side-spacing)
  padding-right: var(--side-spacing)
  padding-top: var(--spacing-three)
  padding-bottom: var(--spacing-three)
  z-index: +1
  &-Container
    display: flex
    align-items: center
    height: 100%
    width: 100%
    img
      height: 82vmin
      width: 82vmin
      max-width: 100%
      max-height: 100%
    &.left
      justify-content: flex-start
    &.center
      img
        width: 100%
    &.right
      justify-content: flex-end

// PROJECT LIST
.projectList
  &-Single
    cursor: pointer
    display: inline

.projectList
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  min-height: 100vh
  padding-top: var(--spacing-three)
  padding-bottom: var(--spacing-three)
  padding-left: var(--side-spacing)
  padding-right: var(--side-spacing)
  h1
    font-family: "DINRg", Helvetica, Arial, sans-serif
    text-transform: uppercase
    display: block
  p
    display: inline
    text-transform: uppercase
    cursor: pointer
    color: rgba($color-blue, 0)
    -webkit-text-stroke: 1px var(--current-color)
    transition: color $transition-color, text-stroke $transition-color
    will-change: color, text-stroke
    &:hover
      color: var(--current-color)
      -webkit-text-stroke: 1px rgba($color-blue, 0)
  &-Container
    width: 100%
  &-Single
    display: inline
    word-break: break-word
    overflow-wrap: break-word
    hyphens: none
    &:last-child
      .dash
        display: none
    &_Image
      position: fixed
      display: none
      top: 0
      left: 0
      right: 0
      bottom: 0
      pointer-events: none
      z-index: -1
      img
        width: 100%
        height: 100%
        object-fit: cover
    p
      cursor: pointer
      display: inline
      overflow-wrap: break-word
      hyphens: none
    span
      display: inline
      word-break: break-word
      overflow-wrap: break-word
      hyphens: none
    &:hover .projectList-Single_Image
      display: block

.theMoreInfo
  display: flex
  flex-direction: column
  position: absolute
  left: 0
  bottom: 0
  right: 0
  background: white
  padding: var(--spacing-three)
  transition: transform $transition-slide
  will-change: transform
  transform: translate3d(0, 100%, 0)
  min-height: 100vh
  &.active
    transform: translate3d(0, 0%, 0)
  p, h1, h2, h3, h4, a
    color: black
  a
    font-size: 4em
    color: black
    display: inline
  h1
    text-transform: uppercase
  &-Intro
    margin-bottom: var(--spacing-two)
  &-Content
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    flex-grow: 1
  &-Terms
    flex-grow: 1
  &-Close
    margin-top: var(--spacing-three)
    text-align: right
    h4
      cursor: pointer
      display: inline