@import '~assets/styles/variables'

// OPTIONS
.yellow, .view-Home
  color: $color-yellow
  .footerform
    color: black
.blue, .view-Brands, .view-BrandSingle
  color: $color-blue
.red, .view-Art, .view-ArtSingle
  color: $color-red
  .footerform
    color: white
.black
  color: black
.grey
  color: grey
.white, .view-People
  color: white
  .footerform
    color: black
.view-Message
  background: black
  color: white

.fullscreen
  min-height: 100vh
.textLeft
  text-align: left
.textCenter
  text-align: center
  .markdown
    display: flex
    flex-direction: column
    align-items: center
.capslock
  text-transform: uppercase
.visible
  opacity: 1 !important

// CURSOR
.cursor
  position: fixed
  width: 1em
  height: 1.1em
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  border-radius: 1000px
  background: var(--current-color)
  border: 1px solid white
  pointer-events: none
  transition: width $transition-cursor, height $transition-cursor
  will-change: width, height
  z-index: 999
  &.hovers-container
    width: 3em
    height: 3em
    cursor: none
  @media ( hover: none )
    display: none

// GENERAL
main
  cursor: none

section
  position: relative
  max-width: 100%
  img
    max-width: 100%

// BUILDING BLOCKS
.graphic
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  padding-top: var(--spacing-three)
  padding-bottom: var(--spacing-three)
  padding-left: var(--side-spacing)
  padding-right: var(--side-spacing)
  z-index: 0
  pointer-events: none
  &.left
    justify-content: flex-start
  &.center
    img
      width: 100%
  &.right
    justify-content: flex-end
  .svg
    height: 100%
    width: 100%
  img
    height: 100%

.theMoreInfo
  display: flex
  flex-direction: column
  position: absolute
  left: 0
  bottom: 0
  right: 0
  background: white
  padding: var(--spacing-three)
  transition: transform $transition-slide
  will-change: transform
  transform: translate3d(0, 100%, 0)
  height: 100vh
  overflow-y: auto
  &.active
    transform: translate3d(0, 0%, 0)
  p, h1, h2, h3, h4, h5, a
    color: black
  a
    font-size: 4em
    line-height: 1.28em
    color: black
    display: inline
    &:hover
      @media (hover: hover)
        text-decoration: underline
  h1
    text-transform: uppercase
  &-Intro
    margin-bottom: var(--spacing-two)
  &-Content
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    flex-grow: 1
  &-Terms
    flex-grow: 1
  &-Close
    margin-top: var(--spacing-three)
    text-align: right
    h4, h5
      cursor: pointer
      display: inline